## NLTK Sentiment (VADER) Analysis

### VADER playground

In [1]:
import nltk

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/mykolafant/nltk_data...

True

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [4]:
sid = SentimentIntensityAnalyzer()

In [5]:
s = "This is a good movie"

In [6]:
sid.polarity_scores(s)

NameError: name 'sid' is not defined

In [11]:
s = "This was the best, most awesome movie EVER MADE!!!!!"

In [12]:
sid.polarity_scores(s)

{'neg': 0.0, 'neu': 0.418, 'pos': 0.582, 'compound': 0.8948}

In [19]:
s = "This was a disgrace not a movie!!!!!"

In [4]:
sid.polarity_scores(s)

NameError: name 'sid' is not defined

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('../TextFiles/amazonreviews.tsv', sep='\t')

In [23]:
df.tail()

     label                                             review
9995   pos  A revelation of life in small town America in ...
9996   pos  Great biography of a very interesting journali...
9997   neg  Interesting Subject; Poor Presentation: You'd ...
9998   neg  Don't buy: The box looked used and it is obvio...
9999   pos  Beautiful Pen and Fast Delivery.: The pen was ...

In [24]:
df.label.value_counts()

label
neg    5097
pos    4903
Name: count, dtype: int64

In [25]:
df.dropna(inplace=True)

In [26]:
blanks = []

for i, label, review in df.itertuples():
    if type(review) == str:
        if review.isspace():
            blanks.append(i)
blanks

[]

In [27]:
# df.drop(blanks, inplace=True)

In [29]:
df.iloc[0].review

'Stuning even for the non-gamer: This sound track was beautiful! It paints the senery in your mind so well I would recomend it even to people who hate vid. game music! I have played the game Chrono Cross but out of all of the games I have ever played it has the best music! It backs away from crude keyboarding and takes a fresher step with grate guitars and soulful orchestras. It would impress anyone who cares to listen! ^_^'

In [28]:
sid.polarity_scores(df.iloc[0].review)

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [31]:
df['scores'] = df.review.apply(lambda review: sid.polarity_scores(review))

In [32]:
df.tail()

,label,review,scores
9995,pos,A revelation of life in small town America in ...,"{'neg': 0.017, 'neu': 0.846, 'pos': 0.136, 'co..."
9996,pos,Great biography of a very interesting journali...,"{'neg': 0.0, 'neu': 0.868, 'pos': 0.132, 'comp..."
9997,neg,Interesting Subject; Poor Presentation: You'd ...,"{'neg': 0.084, 'neu': 0.754, 'pos': 0.162, 'co..."
9998,neg,Don't buy: The box looked used and it is obvio...,"{'neg': 0.091, 'neu': 0.909, 'pos': 0.0, 'comp..."
9999,pos,Beautiful Pen and Fast Delivery.: The pen was ...,"{'neg': 0.028, 'neu': 0.811, 'pos': 0.161, 'co..."

In [34]:
df['compound'] = df.scores.apply(lambda d: d['compound'])

In [35]:
df.tail()

,label,review,scores,compound
9995,pos,A revelation of life in small town America in ...,"{'neg': 0.017, 'neu': 0.846, 'pos': 0.136, 'co...",0.9610
9996,pos,Great biography of a very interesting journali...,"{'neg': 0.0, 'neu': 0.868, 'pos': 0.132, 'comp...",0.9544
9997,neg,Interesting Subject; Poor Presentation: You'd ...,"{'neg': 0.084, 'neu': 0.754, 'pos': 0.162, 'co...",0.9102
9998,neg,Don't buy: The box looked used and it is obvio...,"{'neg': 0.091, 'neu': 0.909, 'pos': 0.0, 'comp...",-0.3595
9999,pos,Beautiful Pen and Fast Delivery.: The pen was ...,"{'neg': 0.028, 'neu': 0.811, 'pos': 0.161, 'co...",0.9107

In [36]:
df['comp_score'] = df.compound.apply(lambda score: 'pos' if score >= 0 else 'neg')

In [37]:
df.tail()

,label,review,scores,compound,comp_score
9995,pos,A revelation of life in small town America in ...,"{'neg': 0.017, 'neu': 0.846, 'pos': 0.136, 'co...",0.9610,pos
9996,pos,Great biography of a very interesting journali...,"{'neg': 0.0, 'neu': 0.868, 'pos': 0.132, 'comp...",0.9544,pos
9997,neg,Interesting Subject; Poor Presentation: You'd ...,"{'neg': 0.084, 'neu': 0.754, 'pos': 0.162, 'co...",0.9102,pos
9998,neg,Don't buy: The box looked used and it is obvio...,"{'neg': 0.091, 'neu': 0.909, 'pos': 0.0, 'comp...",-0.3595,neg
9999,pos,Beautiful Pen and Fast Delivery.: The pen was ...,"{'neg': 0.028, 'neu': 0.811, 'pos': 0.161, 'co...",0.9107,pos

In [38]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [39]:
accuracy_score(df.label, df.comp_score)

0.7097

In [40]:
confusion_matrix(df.label, df.comp_score)

array([[2629, 2468],
       [ 435, 4468]])

### Movie Review Project

In [2]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('../TextFiles/moviereviews.tsv', sep='\t')

In [8]:
df.tail()

     label                                             review
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

In [9]:
df.dropna(inplace=True)

In [10]:
blanks = []

for i, label, review in df.itertuples():
    if i == 0:
        print(type(review))
    if type(review) == str:
        if review.isspace():
            blanks.append(i)
blanks

<class 'str'>

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [11]:
df.drop(blanks, inplace=True)

In [12]:
df.tail()

     label                                             review
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

In [13]:
df.label.value_counts()

label
neg    969
pos    969
Name: count, dtype: int64

In [14]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [15]:
sid = SentimentIntensityAnalyzer()

In [16]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review)['compound'])

In [17]:
df['predicted_label'] = df.scores.apply(lambda score: 'pos' if score >= 0 else 'neg')

In [18]:
df.tail()

,label,review,scores,predicted_label
1995,pos,"i like movies with albert brooks , and i reall...",0.9991,pos
1996,pos,it might surprise some to know that joel and e...,-0.9993,neg
1997,pos,the verdict : spine-chilling drama from horror...,-0.5966,neg
1998,pos,i want to correct what i wrote in a former ret...,0.9387,pos
1999,pos,"a couple of months ago , when i first download...",0.9982,pos

In [22]:
from sklearn.metrics import classification_report, confusion_matrix

In [21]:
print(classification_report(df.label, df.predicted_label))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [23]:
confusion_matrix(df.label, df.predicted_label)

array([[427, 542],
       [164, 805]])